﻿<!DOCTYPE html>
<html>
<head>
	<title>Главная</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
	<link rel="stylesheet" href="~/build/css/fonts.css" />
	<link rel="stylesheet" href="~/build/css/main.css" />
</head>
<body>
<div id="root"></div>
<script src="~/build/Home/Index/Index.main.js"></script>
</body>
</html>