﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Конструктор рабочих программ</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
	<link rel="stylesheet" href="~/build/css/fonts.css" />
</head>
<body>
<div id="root"></div>
<script src="~/build/Constructor/Programme.main.js"></script>
</body>
</html>